body {
    background-color: rosybrown;
}

.general {
    background-color: grey;
    width           : 350px;
    height: 503px;
}

.encabezado {
    background         : url(img/back-chall-card.jpeg);
    background-size    : 100%;
    height             : 322px;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: 13%;

}

.cuadro {
    background-color: white;
    box-sizing      : border-box;
    padding         : 30px 35px;
    height: 181px;
}

.textocuadro {
    font-family: 'Montserrat', bold;
    color      : white;
    padding    : 10px;
    font-weight: bold;
    text-align : center;

}

.cuadrito {
    background-color: #e74c3c;
    font-size: 13px;
}
.peque{font-size: 10px;

}
.circulo {
    height          : 50px;
    width           : 50px;
    background-color: #bbb;
    border-radius   : 75%;
    display         : block;
    background-color: #e74c3c;
    font-weight     : bold;
    left            : 270px;
    top             : 20px;
    padding: 4px;
}

.titulo {
    font-family: 'Montserrat', bold;
    color      : #333333;
    font-size  : 140%;
    font-weight: bold;
    margin     : 0px;
}

.subtitulo {
    font-family : 'Montserrat', sans-serif;
    color       : #e74c3c;
    text-align  : center;
    font-size   : 110%;
    padding-left: 0px;
    text-align  : initial;
    margin-top  : 8px;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-size  : 85%;
    margin     : 0px;
    padding-top: 30px;
    opacity    : 0.5;

}

.espacio {
    padding-right: 10px;

}

.relativo {
    position: relative;
}

.absoluto {
    position: absolute
}

.absolutocuadro {
    left  : 0px;
    bottom: 0px;
}

.centrado {
    display: block;

}

.textocirculo {
    margin-top: 8px;

}